body {
    background-color: #eee;
}
.jumbotron {
    height: auto;
}
.jumbotron .title {
    background-color: #1d262e;
    font-family: 'Julius Sans One',sans-serif;
    font-weight: bolder;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.choices button, #startButton, #resetButton {
    background-color: #1d262e;
    color: white;
    border: 0px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.message {
    font-size: 20px;
}
.results {
    font-size: 20px;
}


